@model IEnumerable<G191210046.Models.Urun>

@{
    ViewData["Title"] = "Index";
}

<header id="header" class="header">
    <div class="container">
        <div class="container">
            <h1 style="color: white;">Ürünler</h1>

            <p>
                <a style="color: white;" asp-action="Create">Create New</a>
            </p>
            <table style="border-color: white" class="table">
                <thead>
                    <tr>
                        <th style="color: white;">
                            @Html.DisplayNameFor(model => model.Ad)
                        </th>
                        <th style="color: white;">
                            @Html.DisplayNameFor(model => model.Fiyat)
                        </th>
                        <th style="color: white;">
                            @Html.DisplayNameFor(model => model.Aciklama)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="color: white;">
                                @Html.DisplayFor(modelItem => item.Ad)
                            </td>
                            <td style="color: white;">
                                @Html.DisplayFor(modelItem => item.Fiyat)
                            </td>
                            <td style="color: white;">
                                @Html.DisplayFor(modelItem => item.Aciklama)
                            </td>
                            <td>
                                <a style="color: darkred;" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a style="color: darkred;" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a style="color: darkred;" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

</header>

