@model G191210046.Models.Siparis

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Siparis</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToplamUcret)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToplamUcret)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiparisTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiparisTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiparisDurumu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiparisDurumu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SiparisKodu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SiparisKodu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aciklama)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
